.multiselect {
  position: relative;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  min-height: 40px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  background: #ffffff;
  font-size: 1rem;

  &.is-open {
    border-radius: 3px 3px 0 0;
  }

  &.is-open-top {
    border-radius: 0 0 3px 3px;
  }

  &.is-disabled {
    background: #F9FAFB;
    cursor: default;
  }
}

.multiselect-search {
  width: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #ffffff;
  outline: none;
  border-radius: 3px;
  padding-left: 14px;
  box-sizing: border-box;
  border: 0;
  appearance: none;
  font-size: inherit;
  font-family: inherit;
}

.multiselect-tags {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-wrap: wrap;
  margin: 8px 0 3px;
  padding-left: 8px;
}

.multiselect-tag {
  background: #41b883;
  color: #fff;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 600;
  padding: 2px 0 2px 8px;
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  white-space: nowrap;

  &.is-disabled {
    padding-right: 8px;
    background: #9CA3AF;
  }
}

.multiselect-tag-remove {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  margin: 0 2px;
  border-radius: 3px;
  
  &:hover {
    background: #00000020;

    .multiselect-tag-remove-icon {
      opacity: 0.6;
      filter: invert(1);
    }
  }
}

.multiselect-tag-remove-icon {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 320 512' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z'%3E%3C/path%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  display: inline-block;
  width: 12px;
  height: 12px;
}

.multiselect-tags-search {
  height: 100%;
  border: 0;
  appearance: none;
  outline: none;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  margin: 0 5px 5px;
  box-sizing: border-box;
  flex-grow: 1;
  flex-shrink: 1;
}

.multiselect-multiple-label,
.multiselect-single-label {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 14px;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  background: transparent;
}

.multiselect-placeholder {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 14px;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  background: transparent;
  color: #777777;
}

.multiselect-spinner {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 512 512' fill='%2341b883' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M456.433 371.72l-27.79-16.045c-7.192-4.152-10.052-13.136-6.487-20.636 25.82-54.328 23.566-118.602-6.768-171.03-30.265-52.529-84.802-86.621-144.76-91.424C262.35 71.922 256 64.953 256 56.649V24.56c0-9.31 7.916-16.609 17.204-15.96 81.795 5.717 156.412 51.902 197.611 123.408 41.301 71.385 43.99 159.096 8.042 232.792-4.082 8.369-14.361 11.575-22.424 6.92z'%3E%3C/path%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  z-index: 10;
  margin: 11px 14px 11px 0;
  animation: multiselect-spin 2.4s cubic-bezier(0.51, 0.09, 0.21, 0.8) infinite;
  flex-shrink: 0;
  flex-grow: 0;
}

.multiselect-clear {
  padding: 10px 14px 10px 0px;
  position: relative;
  z-index: 10;
  opacity: 0.4;
  transition: .3s;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;

  &:hover {
    opacity: 1;
  }
}

.multiselect-clear-icon {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 320 512' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z'%3E%3C/path%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  width: 10px;
  height: 18px;
  display: inline-block;
}

.multiselect-caret {
  transform: rotate(0deg);
  transition: .3s transform;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 320 512' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z'%3E%3C/path%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  width: 10px;
  height: 18px;
  margin: 10px 14px 10px 0;
  position: relative;
  z-index: 10;
  opacity: 0.4;
  flex-shrink: 0;
  flex-grow: 0;

  &.is-open {
    transform: rotate(180deg);
  }
}

.multiselect-dropdown {
  position: absolute;
  left: -1px;
  right: -1px;
  bottom: 0;
  transform: translateY(100%);
  border: 1px solid #e8e8e8;
  margin-top: -1px;
  max-height: 160px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  background: #ffffff;
  display: flex;
  flex-direction: column;

  &.is-top {
    transform: translateY(-100%);
    top: 2px;
    bottom: auto;
    flex-direction: column-reverse;
  }
}

.multiselect-options {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;

  &.is-top {
    flex-direction: column-reverse;
  }
}

.multiselect-option {
  display: flex;
  min-height: 40px;
  padding: 9px 12px;
  box-sizing: border-box;
  color: #222;
  text-decoration: none;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  cursor: pointer;

  &.is-pointed {
    background: #e6e6e6;
  }

  &.is-disabled {
    background: #f9f9f9;
    color: #a6a6a6;
    cursor: not-allowed;
  }

  &.is-selected {
    background: #41b883;
    color: #ffffff;
  }

  &.is-selected.is-pointed {
    background: #4FBD8C;
  }
}

.multiselect-no-options,
.multiselect-no-results {
  display: flex;
  padding: 9px 12px;
  color: #777;
}

.multiselect-fake-input {
  background: transparent;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  border: 0;
  padding: 0;
  font-size: 0;
  outline: none;

  &:active, &:focus {
    outline: none;
  }
}

@keyframes multiselect-spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(2turn);
  }
}